// Specific CSS for your home-page
.homeHeadContent {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  //background-color: #41B3A3;
}

.video-intro {
  border-radius: 5px;
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 100vw;
  min-height: 100vh;
  width: auto;
  height: auto;
  z-index: -1;
  transform: translateX(-50%) translateY(-50%);
  border: 5px solid whitesmoke;
  opacity: 0.5;
}

.footer {
  position: relative;
  bottom: 0;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
  padding: 0px 50px;
  padding-top: 235px;
}
.footer-links i {
  color: $iversen-green;
  text-decoration: none;
  font-size: 30px;
}

.footer-links a {
  color: $iversen-green;
  text-decoration: none;
  font-size: 24px;
  padding: 0px 10px;
}
.footer-links a:hover {
  opacity: 1;
}


.background {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-color: grey;
}

.container-search-bar {
  display: flex;
  justify-content: center;
  margin-bottom: 100px;
  margin-top: 150px;
}

.search-bar {
  width: 450px;
  height: 80px;
  display: inline-flex;
  border: solid 2px $iversen-green;
  border-radius: 4px;
  padding: 3px;
  background-color: $iversen-green;
}

.search-input {
  background-color: white;
  border: solid 2px white;
  border-radius: 4px;
  color: grey;
}

.main {
  color: white;
  text-align: center;
}

// Cursor typing and erasing

#container {
	text-align: center;
}

#text {
	display: inline-block;
	vertical-align: middle;
	color: white;
  text-align: center;
  font-size: 60px;
	letter-spacing: 2px;
}

#cursor {
	display: inline-block;
	vertical-align: middle;
	width: 3px;
	height: 50px;
	background-color: orange;
	animation: blink .75s step-end infinite;
}

@keyframes blink {
	from, to {
		background-color: transparent
	}
	50% {
		background-color: orange;
	}
}
